<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--Login Style -->
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home">
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <a hef="home.html"><img src="/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                    <img src="/images/logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                </a>
            </div>
            <div class="navi">
                <ul>
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Report</span></a></li>
                    <li class="active"><a href="/users/register"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                    <li><a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10 lgbtn">
                <a href="/users/logout" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-11">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="CompanyName pdt70">
                            <h1>Nuvista Pharma Limited</h1>
                    </div><!-- end of Heading -->
                </div><!-- col-md-12 -->
            </div><!-- end of row -->




            <div class="row mrb70">
                <form class="checkoutFormArea clearfix" action="/users/register" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="BillingAddress clearfix CheckAddress" id="billingAddress">
                                <h1 class="resistrationTitle text-center">Resistration</h1>
                                <div class="row">
                                    <div class="formControl col-sm-12">
                                        <label for="selectposition">Position*</label>
                                        <select name="position" id="selectposition">
                                            <option value="">Select a Position…</option>
                                            <option value="super">Super Admin</option>
                                            <option value="admin">Admin</option>
                                            <option value="user">User</option>
                                        </select><!-- end of select -->
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-6">
                                        <label for="yourFirstName">First name*</label>
                                        <input type="text" id="yourFirstName" value="" name="firstname">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-6">
                                        <label for="yourLastName">Last name</label>
                                        <input type="text" id="yourLastName" value="" name="lastname">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-12">
                                        <label for="userName">Username*</label>
                                        <input type="text" id="userName" value="" name="username">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-12">
                                        <label for="passWord">Password*</label>
                                        <input type="password" id="passWord" value="password" name="password">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-12">
                                        <label for="passWord">Confirm Password*</label>
                                        <input type="password" id="passWord" value="" name="password2">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-12">
                                        <label for="emailAddress">Email Address *</label>
                                        <input type="text" id="emailAddress" value="" name="email">
                                    </div><!-- end of formControl -->

                                    <div class="formControl col-sm-12">
                                        <label for="phoneNumber">Mobile Number *</label>
                                        <input type="text" id="phoneNumber" value="" name="mobile">
                                    </div><!-- end of formControl -->
                                    <div class="formControl col-sm-4 col-sm-offset-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-largevre resBtn">Submit</button>
                                    </div><!-- end of formControl -->

                                </div><!-- end of row -->
                            </div><!-- end of BillingAddress -->
                        </div><!-- end of col6 -->
                    </div>
                </form>
            </div><!--row-->
        </div>
    </div>
</div>
</div>

<footer class="main-footer section lightbluebg">
    <div class="sectionwrapper">
        <div class="bottomFooter clearfix">
            <div class="container">
                <!--Copyright-->
                <div class="copyright text-center">Nuvista Pharma <span class="fttextblack">-</span> Copyright © 2017. Designed by <a target="_blank" href="#" class="blackcolor">ThemeOsanLab</a>
                </div><!-- end of copyright -->
            </div><!-- end of container -->
        </div><!-- end of container -->
    </div><!-- end of bottomFooter -->
</footer><!-- end of footer -->



<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Project</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Project Title" name="name">
                <input type="text" placeholder="Post of Post" name="mail">
                <input type="text" placeholder="Author" name="passsword">
                <textarea placeholder="Desicrption"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-project" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/video.js"></script>
</body>
</html>